{% load static %}
<!-- Web view Header start-->
<header class="header header-sticky d-none d-lg-block">
            <div class="header-top pt-0 pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="sb-border sb-border pt-10 pb-10">
                                <div class="row align-items-center">
                                    <!-- Header Top Social Start -->
                                    <div class="col-lg-6">
                                        <div class="header-top-text">
                                            <p> FREE SHIPPING for all orders over &#8377; 2000</p>
                                        </div>
                                    </div>
                                    <!-- Header Top Social End -->

                                    <!-- Header Logo Start -->
                                    <div class="col-lg-6">
                                        <div class="header-top-social justify-content-end">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-instagram"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                           
                                        </div>
                                    </div>
                                    <!-- Header Logo Start -->

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div class="row align-items-center">

                        <!-- Header Logo Start -->
                        <div class="col-lg-2">
                            <div class="header-logo">
                                <a href="index"><img src="{% static 'assets/images/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <!-- Header Logo Start -->

                        <!--Menu start-->
                        <div class="col-lg-7 d-flex justify-content-start">
                            <nav class="main-menu main-menu-two">
                                <ul>
                                    <li><a href="about">About us</a>
                                        <!-- <ul class="sub-menu">
                                            <li><a href="index.html">Home One</a></li>
                                            <li><a href="index-2.html">Home Two</a></li>
                                            <li><a href="index.html">Home Three</a></li>
                                            <li><a href="index-4.html">Home Four</a></li>
                                        </ul>-->
                                    </li>
                                    <li><a href="shop.html">Products</a>
                                        <ul class="mega-menu four-column">
                                            <li><a href="#" class="item-link">Brands</a>
                                                <ul>
                                                    <li><a href="compare.html">Kajaria</a></li>
                                                    <!--<li><a href="cart.html">Shopping Cart</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                    <li><a href="my-account.html">My Account</a></li>
                                                    <li><a href="login-register.html">Login Register</a></li> -->
                                                    <li><a href="faq.html">Other</a></li>
                                                    <li><a href="404.html">Error 404</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#" class="item-link">Colour</a>
                                                <ul>
                                                    <li><a href="shop.html">White</a></li>
                                                    <li><a href="shop-three-column.html">Cream</a></li>
                                                    <li><a href="shop-four-column.html">Beige</a></li>
                                                    <li><a href="shop-right-sidebar.html">Orange</a></li>
                                                    <li><a href="shop-list-nosidebar.html">Brown</a></li>
                                                    <li><a href="shop-list-left-sidebar.html">Yellow</a>
                                                    </li>
                                                    <li><a href="shop-list-nosidebar.html">Red</a></li>
                                                    <li><a href="shop-list-nosidebar.html">Pink</a></li>
                                                    <li><a href="shop-list-nosidebar.html">Green</a></li>
                                                    <li><a href="shop-list-nosidebar.html">Grey</a></li>
                                                    <li><a href="shop-list-nosidebar.html">Purple</a></li>
                                                    <li><a href="shop-list-right-sidebar.html">Other</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#" class="item-link">Suitability</a>
                                                <ul>
                                                    <li><a href="single-product.html">Bathroom</a></li>
                                                    <li><a href="single-product-variable.html">Kitchen</a></li>
                                                    <li><a href="single-product-affiliate.html">Floor</a>
                                                    </li>
                                                    <li><a href="single-product-group.html">Stairs</a></li>
                                                    <li><a href="single-product-tabstyle-2.html">Porch & Parking</a>
                                                    </li>
                                                    <li><a href="single-product-tabstyle-3.html">Outdoor & Terrace</a>
                                                    </li>
                                                    <li><a href="single-product-gallery-right.html">Other</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#" class="item-link">Material</a>
                                                <ul>
                                                    <li><a href="single-product-sticky-left.html">Glass</a></li>
                                                    <li><a href="single-product-sticky-right.html">Ceramic</a></li>
                                                    <li><a href="single-product-slider-box.html">Natural Stone</a>
                                                    <li><a href="single-product-slider-box.html">Polished Porcelain</a>
                                                    <li><a href="single-product-slider-box.html">Other</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">Calculator</a>
                                        <!--<ul class="sub-menu">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                            <li><a href="blog-large-image.html">Blog Large Image</a></li>
                                            <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                            <li><a href="blog-details-gallery.html">Blog Details Gallery</a></li>
                                            <li><a href="blog-details-audio.html">Blog Details Audio</a></li>
                                            <li><a href="blog-details-video.html">Blog Details Video</a></li>
                                        </ul>-->
                                    </li>
                                    <li><a href="about.html">Services</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--Menu end-->

                        <!-- Header Cart Start -->
                        <div class="col-lg-3 d-flex justify-content-end">
                            <div class="header-search">
                                <button class="header-search-toggle"><i class="ion-ios-search-strong"></i></button>
                                <div class="header-search-form">
                                    <form action="#">
                                        <input type="text" placeholder="Type and hit enter">
                                        <button><i class="ion-ios-search-strong"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="header-cart">
                                <a href="cart.html"><i class="ion-bag"></i><span>2</span></a>
                                <!--Mini Cart Dropdown Start-->
                                <div class="header-cart-dropdown">
                                    <ul class="cart-items">
                                        <li class="single-cart-item">
                                            <div class="cart-img">
                                                <a href="cart.html"><img src="{% static 'assets/images/cart/cart-1.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="cart-content">
                                                <h5 class="product-name"><a href="single-product.html">Dell Inspiron
                                                        24</a></h5>
                                                <span class="product-quantity">1 ×</span>
                                                <span class="product-price">$278.00</span>
                                            </div>
                                            <div class="cart-item-remove">
                                                <a title="Remove" href="#"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </li>
                                        <li class="single-cart-item">
                                            <div class="cart-img">
                                                <a href="cart.html"><img src="{% static 'assets/images/cart/cart-2.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="cart-content">
                                                <h5 class="product-name"><a href="single-product.html">Lenovo Ideacentre
                                                        300</a></h5>
                                                <span class="product-quantity">1 ×</span>
                                                <span class="product-price">$23.39</span>
                                            </div>
                                            <div class="cart-item-remove">
                                                <a title="Remove" href="#"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="cart-total">
                                        <h5>Subtotal :<span class="float-right">$39.79</span></h5>
                                        <h5>Eco Tax (-2.00) :<span class="float-right">$7.00</span></h5>
                                        <h5>VAT (20%) : <span class="float-right">$0.00</span></h5>
                                        <h5>Total : <span class="float-right">$46.79</span></h5>
                                    </div>
                                    <div class="cart-btn">
                                        <a href="cart.html">View Cart</a>
                                        <a href="checkout.html">checkout</a>
                                    </div>
                                </div>
                                <!--Mini Cart Dropdown End-->
                            </div>
                            <ul class="ht-us-menu">
                                <li><a href="#"><i class="ion-android-settings"></i></a>
                                    <ul class="ht-dropdown right">
                                        <li><a href="compare.html">Compare Products</a></li>
                                        <li><a href="my-account.html">My Account</a></li>
                                        <li><a href="wishlist.html">My Wish List</a></li>
                                        <li><a href="login-register.html">Sign In</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Header Cart End -->

                    </div>

                </div>
            </div>
        </header>
        <!-- Web View Header ends -->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-bottom menu-right">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header-mobile-navigation d-block d-lg-none">
                                <div class="row align-items-center">
                                    <div class="col-6 col-md-6">
                                        <div class="header-logo">
                                            <a href="index.html">
                                                <img src="{% static 'assets/images/logo.png' %}" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <div class="mobile-navigation text-right">
                                            <div class="header-icon-wrapper">
                                                <ul class="icon-list justify-content-end">
                                                    <li>
                                                        <div class="header-cart-icon">
                                                            <a href="cart.html"><i
                                                                    class="ion-bag"></i><span>2</span></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)" class="mobile-menu-icon"
                                                            id="mobile-menu-trigger"><i class="fa fa-bars"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Mobile Menu start-->
                    <div class="row">
                        <div class="col-12 d-flex d-lg-none">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                    <!--Mobile Menu end-->

                </div>
            </div>
        </header>
        <!--Header Mobile section end-->

        <!-- Offcanvas Menu Start -->
        <div class="offcanvas-mobile-menu" id="offcanvas-mobile-menu">
            <a href="javascript:void(0)" class="offcanvas-menu-close" id="offcanvas-menu-close-trigger">
                <i class="ion-android-close"></i>
            </a>

            <div class="offcanvas-wrapper">

                <div class="offcanvas-inner-content">
                    <div class="offcanvas-mobile-search-area">
                        <form action="#">
                            <input type="search" placeholder="Search ...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <nav class="offcanvas-navigation">
                        <ul>
                            <li class="menu-item-has-children"><a href="#">Home</a></li>
                            <li class="menu-item-has-children"><a href="#">Products</a>
                                <ul class="submenu2">
                                    <li class="menu-item-has-children"><a href="#">Brands</a>
                                        <ul class="submenu2">
                                            <li><a href="compare.html">Compare</a></li>
                                            <li><a href="cart.html">Shopping Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="my-account.html">My Account</a></li>
                                            <li><a href="login-register.html">Login Register</a></li>
                                            <li><a href="faq.html">Frequently Questions</a></li>
                                            <li><a href="404.html">Error 404</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">Colour</a>
                                        <ul class="submenu2">
                                            <li><a href="shop.html">Shop</a></li>
                                            <li><a href="shop-three-column.html">Shop Three Column</a></li>
                                            <li><a href="shop-four-column.html">Shop Four Column</a></li>
                                            <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                            <li><a href="shop-list-nosidebar.html">Shop List No Sidebar</a></li>
                                            <li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a>
                                            </li>
                                            <li><a href="shop-list-right-sidebar.html">Shop List Right
                                                    Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">Suitability</a>
                                        <ul class="submenu2">
                                            <li><a href="single-product.html">Single Product</a></li>
                                            <li><a href="single-product-variable.html">Variable Product</a></li>
                                            <li><a href="single-product-affiliate.html">Affiliate Product</a>
                                            </li>
                                            <li><a href="single-product-group.html">Group Product</a></li>
                                            <li><a href="single-product-tabstyle-2.html">Product Left Tab</a>
                                            </li>
                                            <li><a href="single-product-tabstyle-3.html">Product Right Tab</a>
                                            </li>
                                            <li><a href="single-product-gallery-left.html">Product Gallery
                                                    Left</a></li>
                                            <li><a href="single-product-gallery-right.html">Product Gallery
                                                    Right</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">Material</a>
                                        <ul class="submenu2">
                                            <li><a href="single-product-sticky-left.html">Product Sticky
                                                    Left</a></li>
                                            <li><a href="single-product-sticky-right.html">Product Sticky
                                                    Right</a></li>
                                            <li><a href="single-product-slider-box.html">Product Box Slider</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Blog</a>
                                <ul class="submenu2">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-large-image.html">Blog Large Image</a></li>
                                    <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="blog-details-gallery.html">Blog Details Gallery</a></li>
                                    <li><a href="blog-details-audio.html">Blog Details Audio</a></li>
                                    <li><a href="blog-details-video.html">Blog Details Video</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="about.html">About Us</a>
                            </li>
                            <li class="menu-item-has-children"><a href="contact.html">Contact Us</a>
                            </li>

                        </ul>
                    </nav>

                    <div class="offcanvas-settings">
                        <nav class="offcanvas-navigation">
                            <ul>
                                <li class="menu-item-has-children"><a href="#">MY ACCOUNT </a>
                                    <ul class="submenu2">
                                        <li><a href="login-register.html">Register</a></li>
                                        <li><a href="login-register.html">Login</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">CURRENCY: USD </a>
                                    <ul class="submenu2">
                                        <li><a href="javascript:void(0)">€ Euro</a></li>
                                        <li><a href="javascript:void(0)">$ US Dollar</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">LANGUAGE: EN-GB </a>
                                    <ul class="submenu2">
                                        <li><a href="javascript:void(0)"><img src="{% static 'assets/images/icons/en-gb.png' %}"
                                                    alt=""> English</a></li>
                                        <li><a href="javascript:void(0)"><img src="{% static 'assets/images/icons/de-de.png' %}"
                                                    alt=""> Germany</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="offcanvas-widget-area">
                        <div class="off-canvas-contact-widget">
                            <div class="header-contact-info">
                                <ul class="header-contact-info-list">
                                    <li><i class="ion-android-phone-portrait"></i> <a href="tel://12452456012">(1245)
                                            2456 012 </a></li>
                                    <li><i class="ion-android-mail"></i> <a
                                            href="mailto:info@yourdomain.com">info@yourdomain.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--Off Canvas Widget Social Start-->
                        <div class="off-canvas-widget-social">
                            <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Youtube"><i class="fa fa-youtube-play"></i></a>
                            <a href="#" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>
                        </div>
                        <!--Off Canvas Widget Social End-->
                    </div>
                </div>
            </div>

        </div>